[submodule "ArmSar/utils"]
	path = ArmSar/utils
	url = https://github.com/BinghamtonRover/Firmware-Utilities
[submodule "ArmSar/tmc"]
	path = ArmSar/tmc
	url = https://github.com/BinghamtonRover/TMC-Firmware
[submodule "Protobuf"]
	path = Protobuf
	url = https://github.com/BinghamtonRover/Protobuf
[submodule "ArmSar/src/tmc"]
	path = ArmSar/src/tmc
	url = https://github.com/BinghamtonRover/TMC-Firmware
[submodule "ArmSar/src/utils"]
	path = ArmSar/src/utils
	url = https://github.com/BinghamtonRover/Firmware-Utilities
[submodule "GripperSar/src/tmc"]
	path = GripperSar/src/tmc
	url = https://github.com/BinghamtonRover/TMC-Firmware
[submodule "GripperSar/src/utils"]
	path = GripperSar/src/utils
	url = https://github.com/BinghamtonRover/Firmware-Utilities
[submodule "Arm/src/utils"]
	path = Arm/src/utils
	url = https://github.com/BinghamtonRover/Firmware-Utilities
[submodule "Arm/src/tmc"]
	path = Arm/src/tmc
	url = https://github.com/BinghamtonRover/TMC-Firmware
[submodule "Gripper/src/tmc"]
	path = Gripper/src/tmc
	url = https://github.com/BinghamtonRover/TMC-Firmware
[submodule "Gripper/src/utils"]
	path = Gripper/src/utils
	url = https://github.com/BinghamtonRover/Firmware-Utilities
